:root {
	--text-color: #101010;
	--bg-color: #e9e9e9;
}

body {
	font-size: 16pt;
	font-family: sans-serif;
	width: 100vw;
	overflow-x: hidden;
	background-color: var(--bg-color);
	color: var(--text-color);
}

a {
	background: #edd2d5;
	color: var(--text-color);
	padding: 2px;
	transition: background-color .2s;
}

a:active {
	color: var(--text-color);
}

a:hover {
	background: #ddddd5;
}

#wrapper {
	width: 75vw;
	margin: auto;
	margin-top: 15vh;
}

quote {
	padding: 10px;
	background: #9371714a;
	margin: 10px 0;
	display: block;
	border-left: 5px solid #33333396;
}

span.emph {
	color: #bd0000;
	text-decoration: underline;
	font-weight: bolder;
}

.no {
	font-size: 50pt;
	color: #bd0000;
}

.yes {
	font-size: 40pt;
	color: #336619;
}

ul.checkbox li {
	list-style: none;
}

footer {
	transform: translateX(-50%);
	position: fixed;
	display: block;
	bottom: 0;
	text-align: center;
	left: 50%;
	background-color: var(--bg-color);
	opacity: .8;
}
